#entete, #menu, #contenu, #footer {
    padding: 3px 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

#entete {
    background-color: forestgreen;
    text-align: center;
    background-size: 100px;
}

#main {
    margin: auto;
}

#text-align {
    text-align: center;
}

#contenu {
    background-color: blanchedalmond;
    min-height: 100%;
    position: relative;
    padding-bottom: 50px; /* Hauteur du pied de page */
}

#menu {
    align-content: center;
}

#footer {
    text-align: center;
    background-color: limegreen;
    clear: both;
    position: absolute;
    bottom: 0; /* on le colle en bas */
    width: 100%;
    height: 50px; /* Hauteur du pied de page */
}

.titre {
    text-align: center;
}

.selectionne {
    color: red;
}

#card-deck {
    display: inline-block;
}
.map-container {
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    height: 0;
}

.map-container iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
}