#entete, #menu, #contenu, #footer {
    padding: 3px 0;
    
}


#entete {
    background-color: forestgreen;
    text-align: center;
    background-size: 100px;
}

#main {
    margin: auto;
}

#text-align {
    text-align: center;
}

#contenu {
    background-color:blanchedalmond;
}
#menu {
    align-content:center;
}


#footer {
    background-color: limegreen;
    text-align: center;
    clear: both;
}

.titre {
    text-align: center;
}

.selectionne {
    color: red;
}
