<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/Menu.css" rel="stylesheet" />
</head>
<body>
    <div id="entete">
        <h1>Bienvenue sur Amap Online</h1>
    </div>
    <nav style="font-size:150%">
    <div style="text-align:center;">
        <img src="logo.png" width="70" height="70" />
        <span>Evénement à venir</span>
        <span>Adhérer</span>
        <span>Panier de la semaine</span>
        <span><abbr title="Foire Aux Questions">FAQ</abbr></span>
        <span>Nous contacter</span>
        <span>Se connecter</span>
        <img src="~/petit-panier.png" width="70" height="70" />
    </div>
    </nav>

    <div id="main">
        <div id="contenu">
            
            <img src="~/wwwroot/Images/pieroach.png" />
            @RenderBody()
        </div>
    </div>

    <div id="footer">
        &copy; @DateTime.Now.Year - Des courgettes sexy près de chez vous
    </div>
</body>
</html>