@{
    Layout = "_Layout";
    ViewBag.Title = "Accueil";

}

<h2>Tout d'abord, c'est quoi une <abbr title="Association pour le maintien d'une agriculture paysanne">AMAP</abbr> ?</h2>


    <div>

    </div>
<div>
    <p>L'<abbr title="Association pour le maintien d'une agriculture paysanne">AMAP</abbr> est une Association pour le Maintien d'une Agriculture Paysanne. Son objectif principal est de mettre en lien paysans et consommateurs, afin de créer un partenariat pour permettre aux premiers de vivre de leur production et de pérenniser leur métier, et aux seconds d'acheter à un prix juste des produits d'alimentation de qualité.</p>
        </div>

