@{
    Layout = "_Layout";
    ViewBag.Title = "Accueil";
}
 <div id="contenu">
            <h3 class="titre">Tout d'abord, qu'est-ce qu'une AMAP ?</h3>
            <p class="contenu">Ici c'est la page d'accueil</p>
  </div>

