@{
    Layout = "_Layout";
    ViewBag.Title = "Adhérer";
}


        <div id="contenu">
            <h3 class="titre">Page d'adhésion</h3>
            <p class="contenu">Pour soutenir l'agriculture paysanne</p>
        </div>
