@{
    Layout = "_Layout";
    ViewBag.Title = "Adhérer";
}


<div id="contenu">
    <h3 class="titre">Vous souhaitez adhérer, voici les informations principales :</h3>
    <br />
    <p><b>Avant toute chose, pour adhérer, il convient de se signaler – plutôt avant le début de saison – par mail à amap-online@gmail.com.</b></p>
    <ul>
        <li>Les adhérents sont solidaires de L’agriculteur. l’engagement implique une adhésion pour 1 an et des participations au fonctionnement de l’AMAP en assurant la permanence des distributions des paniers à plusieurs reprises dans l’année : 4 à 6 distributions au choix par année.</li>

        <li>Vous avez le choix des produits que vous voulez recevoir (légumes, produits laitiers, oeufs, poulets), du volume des paniers que vous souhaitez et de la fréquence (toutes les semaines, toutes les 2 semaines). Tout est bio !</li>

        <li>
            Les chèques de paiement des différents contrats sont demandés au début de chaque adhésion et encaissés conformément au plan de paiement choisi par l’amapien (paiement en 1 à 3 fois, voire 12 fois pour les légumes). L’adhérent s’engage à payer tous les paniers par période mentionnée.
        </li>
        <li>Il y a des jours où il n y a pas de distribution (jours fériés…) et des périodes où certains producteurs font une interruption. Ces jours sans distribution sont décrits dans chaque contrat.</li>

        <li>Les distributions ont lieu tous les<strong> mercredis de 19h à 20h au 50 Rue du Drôle d'Ingénieur Java et au 45 Avenue du Sacré Architecte Logiciel à Paris</strong>.</li>

        <li>Les adhésions sont pour l’année civile, les contrats débutant en janvier. Il est cependant possible de nous rejoindre en cours d’année. Une fois votre adhésion concrétisée, nous vous intègrerons à nos listes de diffusion courriel et vous créerons aussi un compte pour acceder à la partie Adhérents du site internet.</li>

        <li>L’adhésion à votre AMAP est de 15 euros par année civile. Elle vous donne droit et accès à tout ce qui se passe dans l’association : contrats avec nos différents producteurs, vote lors de notre AG de fin d’année, visites organisées chez les producteurs….</li>
    </ul>
            <br />
            <div>@Html.ActionLink("Pas encore inscrit ? Veuillez créer un compte en cliquant ici", "SignIn")</div>

</div>

