@{
    Layout = "_Layout";
    ViewBag.Title = "Nous contacter";
}
<div class="container">
    <div><h1>Nous contacter</h1></div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 1000px, width: 1000px">
                <iframe src="https://maps.google.com/maps?q=tarbes&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                        style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <br />
        <div class="col-md-6">
            <form class="my-form">
                <div class="form-group">
                    <label for="form-name">Nom</label>
                    <input type="email" class="form-control" id="form-name" placeholder="Votre nom">
                </div>
                <div class="form-group">
                    <label for="form-email">Adresse Mail</label>
                    <input type="email" class="form-control" id="form-email" placeholder="Votre adresse mail">
                </div>
                <div class="form-group">
                    <label for="form-subject">Téléphone</label>
                    <input type="text" class="form-control" id="form-subject" placeholder="Numéro de téléphone">
                </div>
                <div class="form-group">
                    <label for="form-message">Ecrivez votre message</label>
                    <textarea class="form-control" id="form-message" placeholder="Votre message"></textarea>
                </div>
                <br />
                <button class="btn btn-secondary" type="submit">Envoyer le message</button>
            </form>
        </div>
    </div>
</div>

<style>
    .my-form {
        color: #305896;
    }

        .my-form .btn-default {
            background-color: #305896;
            color: #fff;
            border-radius: 0;
        }

            .my-form .btn-default:hover {
                background-color: #4498C6;
                color: #fff;
            }

        .my-form .form-control {
            border-radius: 0;
        }
</style>

