@{
    Layout = "_Layout";
    ViewBag.Title = "Nous contacter";
}

        <div id="contenu">
            <h3 class="titre">Nous contacter</h3>
            <p class="contenu">Pour nous rendre visite</p>
        </div>