@{
    Layout = "_Layout";
    ViewBag.Title = "FAQ";
}

<body>
<div class="container mt-3">
    <h2>Foire Aux Questions</h2>
    <br />
    <p>Tous les <strong>secrets</strong> des AMAP jamais révélés !</p>
    <div id="accordion">
        <div class="card">
            <div class="card-header">
                <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                    <h5>Tout d'abord, qu'est-ce qu'une AMAP ?</h5>
                </a>
            </div>
            <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    <p>Une Association pour le Maintien de l’Agriculture Paysanne (AMAP) est un partenariat entre un groupe de consommateurs et une ferme, basé sur un système de distribution de « paniers » composés des produits de la ferme.</p> 
                    <p>C’est un contrat solidaire, basé sur un engagement financier des consommateurs, qui payent à l’avance une part de la production sur une période définie par le type de production et le lieu géographique.</p>
                    <p>Les AMAP sont pour le paysan, le maintien de l'activité agricole par la garantie de revenu, pour le consommateur, des aliments frais, de saison, souvent biologiques, produits à partir de variétés végétales ou races animales de terroir ou anciennes et un prix équitable pour les deux partenaires.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                        <h5>Concrètement, rejoindre une AMAP, ça veut dire quoi ?</h5>
                </a>
            </div>
            <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                        <p>Si chaque AMAP dispose de ses propres modalités de fonctionnement, être membre d'une AMAP comprend un socle commun d'engagements et de valeurs partagées.</p>

                        <p>Cela commence par la signature d'un contrat entre le paysan et chaque consommateur, indiquant la durée de l'engagement pendant laquelle le paysan livre une part de sa récolte hebdomadaire, que vous viendrez récupérer aux lieux et heures indiquées sur le contrat.</p>

                        <p>L'amapien s'engage ensuite à participer à la vie de l'association, et notamment à prendre part, avec l'ensemble du groupe, à l'organisation des temps de distribution. Des visites sur la ferme du paysan sont organisées tout au long de l'année, permettant aux amapiens de découvrir le lieu de travail du paysan, ses méthodes, et de partager un moment convivial autour d'ateliers pédagogiques.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
                        <h5>Comment adhérer au Réseau AMAP-Online ?</h5>
                    </a>
            </div>
            <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                        <p>Si vous êtes une nouvelle AMAP, le premier pas est de prendre contact avec le Réseau, en envoyant un mail à amap-online@gmail.com ou en nous appelant au 01 23 45 67 89.</p> 
                        <p>Nous créerons ensemble votre espace en ligne et vous pourrez ensuite générer le bulletin d'adhésion.</p>

                        <p>Si vous avez déjà vos identifiants, rendez-vous sur votre espace en ligne afin de mettre à jour vos informations, générer le bulletin d'adhésion à imprimer et à envoyer avec le chèque à l'ordre du Réseau AMAP-Online, à l'adresse suivante :</p>
                        <p class="text-center"><b>Réseau AMAP-Online</b></p>
                        <p class="text-center"><b>99 Rue du Futur Développeur Java</b></p>
                        <p class="text-center"><b>01234 Isika</b></p>
                </div>
            </div>
        </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFour">
                        <h5>Je suis artisan-boulanger, brasseur, producteur de pâtes … puis-je commercialiser mes produits en AMAP ?</h5>
                    </a>
                </div>
                <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <p>A l'heure actuelle, le Réseau AMAP Online accompagne les paysans (= personne qui vit de la culture du sol ou de l'élevage d'animaux).</p>  
                        <p>Malheureusement, nous n'avons ni la capacité ni la vocation d'accompagner les artisans (= personne qui crée des produits finis en transformant des matières brutes), mais nous trouverions génial que des artisans et des citoyens consommateurs impulsent la création d'une structure de type AMAP pour l'artisanat.</p>

                        <p>Rien ne vous empêche en revanche de contacter les membres des AMAP proches de chez vous, tout en ayant conscience que les éventuels partenariats que vous pourrez leur proposer ne pourront rentrer dans le cadre d'un partenariat AMAP.</p>

                        <p>En revanche, de plus en plus de citoyens en AMAP cherchent à diversifier leur(s) partenariat(s) et mettent en place des Groupements d'achats afin de pouvoir travailler avec des artisans (boulangers, brasseurs, etc.).</p>
                    </div>
                </div>
            </div>
    </div>
</div>

</body>