@{
    Layout = "_Layout";
    ViewBag.Title = "FAQ";
}

        <div id="contenu">
            <h3 class="titre">FAQ</h3>
            <p class="contenu">Les questions que vous ne vous êtes jamais posées sur l'AMAP</p>
        </div>
