@{
    Layout = "_Layout";
    ViewBag.Title = "Accueil";
}
<body>
<div id="contenu">
    <h3 class="titre">Ici, c'est AMAP-Online</h3>
    <br />
    <p class="lead">Manger bio, local, de saison… favoriser les circuits courts, s'impliquer pour le contenu de son assiette et la Terre de demain : c'est pour tout un ensemble de raisons que nous sommes de plus en plus nombreux à souhaiter intégrer une Amap (Association pour le Maintien d'une Agriculture Paysanne).</p>
</div>

<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">

      <img class="img-fluid" src="~/Images/Users/pommes.jpg" alt="Pommes" class="d-block w-100" width="1000" height="1000" >
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="~/Images/Users/foin.jpg" alt="Foin" class="d-block w-100" width="1000" height="1000">
    </div>
    <div class="carousel-item">
            <img class="img-fluid" src="~/Images/Users/paniers.jpg" alt="Panier" class="d-block w-100" width="1000" height="1000">
    </div>
    <div class="carousel-item">
            <img class="img-fluid" src="~/Images/Users/vaches.jpg" alt="Vaches" class="d-block w-100" width="1000" height="1000">
    </div>
    <div class="carousel-item">
            <img class="img-fluid" src="~/Images/Users/fermier.jpg" alt="Fermier" class="d-block w-100" width="1000" height="1000">
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
</body>

