@{
    Layout = "_Layout";
    ViewBag.Title = "Paniers de la semaine";
}


        <div id="contenu">
            <h3 class="titre">En vedette cette semaine</h3>
            <p class="contenu">Proposés par nos meilleurs producteurs locaux</p>
        </div>
