@model Projet2.Models.Commande
@{
    Layout = "_Layout";
    ViewBag.Title = "Votre panier";
}

<div class="container mt-3">
  <h2>Votre liste de panier</h2>    
  <table class="table">
    <thead>
      <tr>
        <th>Sélection article</th>
        <th>Votre article</th>
        <th>Description</th>
        <th>Qté</th>
        <th>Prix</th>
        <th>Supprimer article</th>
      </tr>
    </thead>
  </table>
</div>




