@model Projet2.Models.Panier
@{
    Layout = "_Layout";
    ViewBag.Title = "Paniers de la semaine";
}


<!DOCTYPE html>
<html>
<body>
    <div class="container mt-3">
        <h2>Panier de la semaine</h2>
        <div class="card" style="width:300px">
            <img class="card-img-top" src="~/Images/Users/canard.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Canard en plastique</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
        <br>

        
    <input type="submit" value="Ajouter à mon panier">
    
</body>
</html>
        @*using(Projet2.Models.Dal dal =new Projet2.Models.Dal())
        {
    @foreach (Projet2.Models.Profil profil in ViewData["Profils"] as List<Projet2.Models.Profil> )
        {
            <div>youhou</div>
        }
        }*@