@{
    Layout = "_Layout";
    ViewBag.Title = "Votre panier";
}


        <div id="contenu">
            <h3 class="titre">Voici une liste de vos paniers ajoutés</h3>
            <p class="contenu">ça donne envie, n'est-ce pas ?</p>
        </div>
