@model Projet2.Models.Panier
@{
    Layout = "_Layout";
    ViewBag.Title = "Votre panier";
}

<div class="container mt-3">
  <h2>Votre liste de panier</h2>    
  <table class="table">
    <thead>
      <tr>
        <th>Sélection article</th>
        <th>Votre article</th>
        <th>Description</th>
        <th>Qté</th>
        <th>Prix</th>
        <th>Supprimer article</th>
      </tr>
    </thead>
    <tbody>
      <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" >
                    </div>
                </td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>




