

@{
    Layout = "_Layout";
    ViewBag.Title = "Création de Panier";
}
@model Projet2.Models.Panier


<div id="text-align"><h3>Veuillez fournir une description détaillée pour nos fidèles adhérents d'AMAP Online</h3></div>
<form method="post" enctype="multipart/form-data">
<form action="/action_page.php">
<fieldset>
    <legend>Création de panier : </legend>
            <div>
                <label for="file">Votre panier en photo : </label>
                <input type="file" name="PhotoPanier" id="PhotoPanier" required />
            </div>
            <br />
            <div>
                <label for="text" class="form-label">@Html.LabelFor(m => m.Description)</label>
                <input type="text" class="form-control" name="Description" id="Description" required/>
            </div>
            <div>
                <label for="number" class="form-label">@Html.LabelFor(m => m.QuantitePanier)</label>
                <input type="number" class="form-control" name="QuantitePanier" id="QuantitePanier" required />
            </div>
         
            <div>
                <label for="number" class="form-label">@Html.LabelFor(m => m.Prix)</label>
                <input type="number" step="0.01" class="form-control" name="Prix" id="Prix" required />
            </div>
            <br />
            <div><button type="submit" class="btn btn-primary">Mettre en ligne le panier</button></div>
</fieldset>
</form>
</form>


