@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewBag.Title = "Mise à jour réussie";
}
<br />
<h3>Votre compte a bien été mis à jour.</h3>
<br />
<div>@Html.ActionLink("Revenir à la page d'accueil", "Index")</div>
<br />