@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewBag.Title = "Success Password";
}

<h3>Votre mot de passe a bien été modifié.</h3>
<br />
<div>@Html.ActionLink("Revenir à la page d'accueil", "Index")</div>

